
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Montserrat", serif;
}

html{
    scroll-behavior: smooth;
}
a{
all: unset;
}

section{
    padding-top: 5px;
}
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Ajusta la posición desde abajo */
    right: 20px; /* Ajusta la posición desde la derecha */
    width: 60px; /* Tamaño del ícono */
    height: 60px;
    background-color: #25D366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Hace que sea redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1000; /* Asegura que esté siempre visible */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
}

.whatsapp-icon img {
    width: 40px; /* Tamaño del ícono dentro del contenedor */
    height: 40px;
}




/*NAVBAR*/

nav{
color: white;
   /* Fija el navbar en la parte superior */
   top: 0; /* Lo coloca en la parte superior de la página */
   left: 0; /* Alinea el navbar al borde izquierdo */
   width: 100%; /* Asegura que el navbar ocupe todo el ancho */
   z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
   
    border-bottom: 2px solid white;
}



.logo{
    height: 0px;
    cursor: pointer;
}
.logo img{
    margin-left: 50px;
    width: 100px;
    
}
nav{
    display: block;
    
    font-family: "Montserrat", sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

nav ul li{
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    margin: 20px;

}

.c1 {
    
    border-bottom: none; /* Sin borde por defecto */
}


.c1:hover{
    cursor: pointer;
   
}


.texto li {
    all: unset;
}


/*HEADER*/

header{
    background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 99%), 
    url(./img/volcan\ en\ diagonal.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.contenedor-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 0px;
    font-family: "Montserrat", serif;
    gap: 120px;
    
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.titulo h1{
    font-size: 64px;
}
.titulo p{
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    max-width: 800px;
}

.btn{
    all: unset;
    font-family: "Montserrat", serif; 
}

.btn button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 10px;
    width: 200px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;

}

.btn :hover{
    transition: 2s;
    transform: scale(1.1);
    background-color: #44dd7f;
}

/*main*/

.parent img{
   
}


/* main{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), url(./img/nieve.png);
} */
        

.contenedor-principal{
    text-align: center;
    font-family: "Montserrat", serif;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 0px;
    color: #355570;
   
}

.contenedor-principal h1{
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 80px;
}
.ofrecemos {
    display: flex;
    flex-direction: column;
    
}

.contenedor-principal p{
    font-size: 18px;
}

/*RAFTING ALTO*/

.presentacion{
   
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-img{
    position: relative;
    left: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img img{
    width: 600px;
    height:600px;
}

.cart-text{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    left: -2%;
    gap: 50px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text h1{
    margin-top: 80px;
font-size: 36px;
    text-align: center;
}

.cart-text p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.titular{
    border-bottom: 1px solid #355570;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}


.descripcion{
    display: flex;
}

.btn-cart{
    display: flex;
    justify-content: center;
}

.btn-cart button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 10px;
    width: 200px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
}

.btn-cart:hover{
    transition: 2s;
    transform: scale(1.1);

}

.fotos{
    display: flex;
    justify-content: center;
 
    
}

.fotos img{
    width: 400px;
    height: 600px;
    margin: 5px;
}


.contenedor-general{
    display: flex;
    color: #355570;
    margin-top: 120px;
    margin-bottom: 190px;

}

.informacion-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 120px;

}

.instruccion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruccion i{
    font-size: 50px;
    margin-bottom: 20px;
}
.name{
display: flex;
flex-direction: column;

}



/*MID*/

.banner img{

    width: 100%;
    height: auto;
}

.banner{
    position: relative;
    margin-top: 250px;
    margin-bottom: -10px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 40%;    
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;

}

.info img{
    display: flex;
    height: 150px;
    width: 170px;
}



.general{
    background-image: url(./img/42102783_8989949.png);
    background-position: 60% 190%;
    background-size: contain;
}

/*FOOTER*/



/* .presentacion-2{
   
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */


.imagen-container img{
    width: 100%;
    height: auto;
}

.imagen-container{
    position: relative; 
    
}




.banner-footer img{
    width: 100%;
    height: 1100px;
}




footer{
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 1) 100%), url(./img/volcan\ pareja\ y\ piolet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 35%;
    height: 900px;
    position: relative;
    
}




.cart-img-3{
    margin-top: 20px;
    position: absolute;
    left: 20%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-3 img{
    width: 600px;
    height:600px;
}

.cart-text-3{
    margin-top: 60px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    top: 11%;
    left: 50%;
    gap: 50px;
    
    color: #355570;

}

.cart-text-3 h1{
    margin-top: 80px;
font-size: 36px;
    text-align: center;
}

.cart-text-3 p{

    max-width: 400px;
}

.contendor-contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 250px;
    text-align: center;
    gap: 5px;
    
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 15px;
}

.icons i{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    align-items: center; margin: 0px;
}

.icons a{
    font-size: 30px;
}

.icons p{
    display: flex;
    justify-content: start;
    text-align: start;
}
.icon p{
    text-align: start;


}

.text{
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
}


@media (max-width: 1440px) {
    header{
        background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
        url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
        background-repeat: no-repeat;
        background-position: 63% 30%;
        height: 900px;
    }
    nav{
        color: white;
        position: fixed; /* Fija el navbar en la parte superior */
       
        width: 100%; /* Asegura que el navbar ocupe todo el ancho */
        z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
        background-color: #355570;
        
        border-bottom: 2px solid white;
    }
    nav{
       display: block;
       justify-content: center;
       align-items: center;
       margin: 0 ;
       padding: 10px;
       width: 100%;

       font-family: "Montserrat", sans-serif;
    }
     
     
     
     .logo{
        height: 0px;
        cursor: pointer;
       
    }
.logo img{
    
        margin-left: 10px;
        width: 80px;

}
     
     nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-left: 0px;
        margin: 0px;
        width: 100%;
        padding: 0px;
       

     }
     
     nav ul li{
         display: block;
         align-items: center;
         text-decoration: none;
         font-size: 12px;
        
     
     }
     
     .c1 {
         display: flex;
         justify-content: center;
         align-items: center;
        
         border-bottom: none; /* Sin borde por defecto */
     }
     
     
     .c1:hover{
         cursor: pointer;
        
     }
     
     
     .texto li {
         all: unset;
     }
     
     /*HEADER*/
     
     .contenedor-background{
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
         margin-top: 0px;
         font-family: "Montserrat", serif;
         gap: 120px;
         
     }
     
     .titulo{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 150px;
     }
     .titulo h1{
        font-size: 36px;
        text-align: center;
     }
     .titulo p{
        margin-top: 27px;
        font-size: 24px;
        text-align: center;
        max-width: 600px;
     }
     
     .btn{
        all: unset;
        font-family: "Montserrat", serif; 
     }
     
     .btn button{
         all: unset;
         color: white;
         background-color:#355570 ;
         padding: 10px;
         width: 200px;
         font-family: "Montserrat", serif;
         text-align: center;
         cursor: pointer;
     }
     
     .btn :hover{
         transition: 2s;
         transform: scale(1.1);
         background-color: #4496dd;
     }
     
     
/*main*/

.contenedor-principal{
    text-align: center;
    font-family: "Montserrat", serif;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    color: #355570;
}

.contenedor-principal h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.contenedor-principal p{
    font-size: 18px;
    max-width: 1100px;
    margin: 0 auto;
}

.presentacion{
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-img{
    position: relative;
    left: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img img{
    width: 300px;
    height:300px;
}

.cart-text{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    left: -2%;
    gap: 25px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text h1{
    margin-top: 5px;
font-size: 24px;
    text-align: center;
}

.cart-text p{
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 14px;
}

.titular{
    border-bottom: 1px solid #355570;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}


.descripcion{
    display: flex;
}

.btn-cart{
    display: flex;
    justify-content: center;
}

.btn-cart button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 5px;
    width: 100px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.btn-cart:hover{
    transition: 2s;
    transform: scale(1.1);

}

.fotos img{
    width: 200px;
    height: 350px;
    margin: 5px;
}

.fotos{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.fotos img:hover{
    transition: 2s ;
    transform: scale(1.01);
}

.banner img{

    width: 100%;
}

.banner{
    position: relative;
    margin-top: 50px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    top: 30%;    
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}

.info img{
    width: 100px;
}

.presentacion-2{
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-text-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    left: 29%;
    top: 20%;
    gap: 25px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-img-2{
    position: absolute;
    left: 47%;
    top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-2 img{
    width: 300px;
    height:300px;
}


.cart-text-2 h1{
    margin-top: 5px;
font-size: 24px;
    text-align: center;
}

.cart-text-2 p{
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 14px;
}



/*FOOTER*/






.imagen-container img{
    width: 100%;
    
}

.imagen-container{
    margin-top: 100px;
    position: relative; 
    
}


.banner-footer{
    position: relative;
    display: flex;
    margin: 0 auto;
}








.cart-img-3{
    position: absolute;
    left: 29%;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-3 img{
    width: 300px;
    height:300px;
}

.cart-text-3{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    top: 45%;
    left: 49%;
    gap: 25px;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text-3 h1{
    margin-top: 5px;
font-size: 20px;
    text-align: center;
}

.cart-text-3 p{
font-size: 12px;
    max-width: 400px;
}

.contendor-contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    max-width: 250px;
    text-align: center;
    gap: 5px;
    
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 10px;
}

.icons i{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    align-items: center; margin: 0px;
}

.icons a{
    font-size: 30px;
}

.icons p{
    display: flex;
    justify-content: start;
    text-align: start;
}
.icon p{
    text-align: start;


}

.text{
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
}
   


}

@media (max-width: 1050px)  {
    header{
        background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
        url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
        background-repeat: no-repeat;
        background-position: 63% 30%;
        height: 900px;
    }
    nav{
        color: white;
        position: fixed; /* Fija el navbar en la parte superior */
       
        width: 100%; /* Asegura que el navbar ocupe todo el ancho */
        z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
        background-color: #355570;
        
        border-bottom: 2px solid white;
    }
    nav{
       display: block;
       justify-content: center;
       align-items: center;
       margin: 0 ;
       padding: 10px;
       width: 100%;

       font-family: "Montserrat", sans-serif;
    }
     
     
     
     .logo{
        height: 0px;
        cursor: pointer;
    display: none;
    }
.logo img{
    display: none;
        margin-left: 10px;
        width: 80px;

}
     
     nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-left: 0px;
        margin: 0px;
        width: 100%;
        padding: 0px;
       

     }
     
     nav ul li{
         display: block;
         align-items: center;
         text-decoration: none;
         font-size: 12px;
        
     
     }
     
     .c1 {
         display: flex;
         justify-content: center;
         align-items: center;
        
         border-bottom: none; /* Sin borde por defecto */
     }
     
     
     .c1:hover{
         cursor: pointer;
        
     }
     
     
     .texto li {
         all: unset;
     }
     
     /*HEADER*/
     
     .contenedor-background{
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
         margin-top: 0px;
         font-family: "Montserrat", serif;
         gap: 120px;
         
     }
     
     .titulo{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 150px;
     }
     .titulo h1{
        font-size: 36px;
        text-align: center;
     }
     .titulo p{
        margin-top: 27px;
        font-size: 24px;
        text-align: center;
        max-width: 700px;
     }
     
     .btn{
        all: unset;
        font-family: "Montserrat", serif; 
     }
     
     .btn button{
         all: unset;
         color: white;
         background-color:#355570 ;
         padding: 10px;
         width: 200px;
         font-family: "Montserrat", serif;
         text-align: center;
         cursor: pointer;
     }
     
     .btn :hover{
         transition: 2s;
         transform: scale(1.1);
         background-color: #4496dd;
     }
     
     
/*main*/

.contenedor-principal{
    text-align: center;
    font-family: "Montserrat", serif;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 120px;
    color: #355570;
}

.contenedor-principal h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.contenedor-principal p{
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto;
}

.presentacion{
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-img{
    position: relative;
    left: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img img{
    width: 300px;
    height:300px;
}

.cart-text{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    left: -2%;
    gap: 25px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text h1{
    margin-top: 5px;
font-size: 24px;
    text-align: center;
}

.cart-text p{
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 14px;
}

.titular{
    border-bottom: 1px solid #355570;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}


.descripcion{
    display: flex;
}

.btn-cart{
    display: flex;
    justify-content: center;
}

.btn-cart button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 5px;
    width: 100px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.btn-cart:hover{
    transition: 2s;
    transform: scale(1.1);

}

.fotos img{
    width: 200px;
    height: 350px;
    margin: 5px;
}

.fotos{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.fotos img:hover{
    transition: 2s ;
    transform: scale(1.01);
}

.banner img{

    width: 100%;
}

.banner{
    position: relative;
    margin-top: 50px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    top: 20%;    
    position: absolute;
    left: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;

}

.info img{
    width: 100px;
}

.presentacion-2{
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-text-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    left: 18%;
    top: 20%;
    gap: 25px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-img-2{
    position: absolute;
    left: 42%;
    top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-2 img{
    width: 300px;
    height:300px;
}


.cart-text-2 h1{
    margin-top: 5px;
font-size: 24px;
    text-align: center;
}

.cart-text-2 p{
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 14px;
}



/*FOOTER*/






.imagen-container img{
    width: 100%;
    height: 600px;
}

.imagen-container{
    margin-top: 100px;
    position: relative; 
    
}


.banner-footer{
    position: relative;
    display: flex;
    margin: 0 auto;
}








.cart-img-3{
    position: absolute;
    left: 18%;
    top: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-3 img{
    width: 300px;
    height:300px;
}

.cart-text-3{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 280px;
    top: 45%;
    left: 45%;
    gap: 25px;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text-3 h1{
    margin-top: 5px;
font-size: 20px;
    text-align: center;
}

.cart-text-3 p{
font-size: 12px;
    max-width: 400px;
}

.contendor-contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    max-width: 250px;
    text-align: center;
    gap: 5px;
    
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 10px;
}

.icons i{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    align-items: center; margin: 0px;
}

.icons a{
    font-size: 30px;
}

.icons p{
    display: flex;
    justify-content: start;
    text-align: start;
}
.icon p{
    text-align: start;


}

.text{
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
}
   


}  

@media (max-width: 968px){
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        top: 20%;    
        position: absolute;
        left: 12%;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 14px;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
    
    }
}

@media (max-width: 768px){
   
    }

    @media (max-width: 480px) {
        header{
            background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
            url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
            background-repeat: no-repeat;
            background-position: 53% 30%;
            height: 900px;
        }
        nav{
            color: white;
            position: fixed; /* Fija el navbar en la parte superior */
           
            width: 100%; /* Asegura que el navbar ocupe todo el ancho */
            z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
            background-color: #355570;
            
            border-bottom: 2px solid white;
        }
        nav{
           display: block;
           justify-content: center;
           align-items: center;
           margin: 0 ;
           padding: 10px;
           width: 100%;
    
           font-family: "Montserrat", sans-serif;
        }
         
         
         
         .logo{
            height: 0px;
            cursor: pointer;
        display: none;
        }
    .logo img{
        display: none;
            margin-left: 10px;
            width: 80px;
    
    }
         
         nav ul{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-left: 0px;
            margin: 0px;
            width: 100%;
            padding: 0px;
           
    
         }
         
         nav ul li{
             display: block;
             align-items: center;
             text-decoration: none;
             font-size: 12px;
            
         
         }
         
         .c1 {
             display: flex;
             justify-content: center;
             align-items: center;
            
             border-bottom: none; /* Sin borde por defecto */
         }
         
         
         .c1:hover{
             cursor: pointer;
            
         }
         
         
         .texto li {
             all: unset;
         }
         
         /*HEADER*/
         
         .contenedor-background{
             display: flex;
             flex-direction: column;
             align-items: center;
             color: white;
             margin-top: 0px;
             font-family: "Montserrat", serif;
             gap: 120px;
             
         }
         
         .titulo{
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             margin-top: 150px;
         }
         .titulo h1{
            font-size: 30px;
            text-align: center;
            max-width: 350px;
         }
         .titulo p{
            margin-top: 20px;
            font-size: 20px;
            text-align: center;
            max-width: 800px;
         }
         
         .btn{
            all: unset;
            font-family: "Montserrat", serif; 
         }
         
         .btn button{
             all: unset;
             color: white;
             background-color:#355570 ;
             padding: 10px;
             width: 200px;
             font-family: "Montserrat", serif;
             text-align: center;
             cursor: pointer;
         }
         
         .btn :hover{
             transition: 2s;
             transform: scale(1.1);
             background-color: #4496dd;
         }
         
         
    /*main*/
    
    .contenedor-principal{
        text-align: center;
        font-family: "Montserrat", serif;
        max-width: 1300px;
        margin: 0 auto;
        margin-top: 120px;
        color: #355570;
    }
    
    .contenedor-principal h1{
        font-size: 36px;
        margin-bottom: 40px;
    }
    
    .contenedor-principal p{
        font-size: 14px;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .presentacion{
        height: 400px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .cart-img{
        position: relative;
        left: 0%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-img img{
        width: 200px;
        height:200px;
    }
    
    .cart-text{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 180px;
        height: 180px;
        left: -2%;
        gap: 15px;
        z-index: 1;
        
        color: #355570;
        box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    }
    
    .cart-text h1{
        margin-top: 5px;
    font-size: 20px;
        text-align: center;
    }
    
    .cart-text p{
        text-align: center;
        max-width: 150px;
        margin: 0 auto;
        font-size: 10px;
    }
    
    .titular{
        border-bottom: 1px solid #355570;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px;
    }
    
    
    .descripcion{
        display: flex;
    }
    
    .btn-cart{
        display: flex;
        justify-content: center;
    }
    
    .btn-cart button{
        all: unset;
        color: white;
        background-color:#355570 ;
        padding: 5px;
        width: 100px;
        font-family: "Montserrat", serif;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
    }
    
    .btn-cart:hover{
        transition: 2s;
        transform: scale(1.1);
    
    }
    
    .fotos img{
        width: 300px;
        height: 250px;
        margin: 5px;
    }
    
    .fotos{
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    
    .fotos img:hover{
        transition: 2s ;
        transform: scale(1.01);
    }
    
    .banner img{
    
        width: 100%;
    }
    
    .banner{
        position: relative;
        margin-top: 50px;
    }
    
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        top: 20%;    
        position: absolute;
        left: 10%;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 10px;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    
    }
    
    .info img{
        width: 50px;
    }
    
    .presentacion-2{
        height: 400px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .cart-text-2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 180px;
        height: 180px;
        left: 10%;
        top: 20%;
        gap: 15px;
        z-index: 1;
        
        color: #355570;
        box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    }
    
    .cart-img-2{
        position: absolute;
        left: 42%;
        top: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-img-2 img{
        width: 200px;
        height:200px;
    }
    
    
    .cart-text-2 h1{
        margin-top: 5px;
    font-size: 20px;
        text-align: center;
    }
    
    .cart-text-2 p{
        text-align: center;
        max-width: 150px;
        margin: 0 auto;
        font-size: 10px;
    }
    
    
    
    /*FOOTER*/
    
    
    
    
    
    
    .imagen-container img{
        width: 100%;
        height: 400px;
    }
    
    .imagen-container{
        margin-top: 100px;
        position: relative; 
        
    }
    
    
    .banner-footer{
        position: relative;
        display: flex;
        margin: 0 auto;
    }
    
    
    
    
    
    
    
    
    .cart-img-3{
        position: absolute;
        left: 10%;
        top: 43%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-img-3 img{
        width: 200px;
        height:200px;
    }
    
    .cart-text-3{
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 180px;
        height: 180px;
        top: 45%;
        left: 50%;
        gap: 10px;
        
        color: #355570;
        box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
    }
    
    .cart-text-3 h1{
        margin-top: 5px;
    font-size: 20px;
        text-align: center;
    }
    
    .cart-text-3 p{
    font-size: 12px;
        max-width: 400px;
    }
    
    .contendor-contacto{
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        max-width: 250px;
        text-align: center;
        gap: 5px;
        
    }
    
    .informacion{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        gap: 10px;
    }
    
    .icons i{
        text-align: center;
        font-size: 20px;
        margin: 15px;
        align-items: center; margin: 0px;
    }
    
    .icons a{
        font-size: 30px;
    }
    
    .icons p{
        display: flex;
        justify-content: start;
        text-align: start;
    }
    .icon p{
        text-align: start;
    
    
    }
    
    .text{
        display: flex;
        text-align: start;
        align-items: start;
        justify-content: start;
        gap: 10px;
        
    }
       
        }

        @media (max-width: 390px) {
            header{
                background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
                url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
                background-repeat: no-repeat;
                background-position: 53% 30%;
                height: 900px;
            }
            nav{
                color: white;
                position: fixed; /* Fija el navbar en la parte superior */
               
                width: 100%; /* Asegura que el navbar ocupe todo el ancho */
                z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
                background-color: #355570;
                
                border-bottom: 2px solid white;
            }
            nav{
               display: block;
               justify-content: center;
               align-items: center;
               margin: 0 ;
               padding: 10px;
               width: 100%;
        
               font-family: "Montserrat", sans-serif;
            }
             
             
             
             .logo{
                height: 0px;
                cursor: pointer;
            display: none;
            }
        .logo img{
            display: none;
                margin-left: 10px;
                width: 80px;
        
        }
             
             nav ul{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin-left: 0px;
                margin: 0px;
                width: 100%;
                padding: 0px;
               
        
             }
             
             nav ul li{
                 display: block;
                 align-items: center;
                 text-decoration: none;
                 font-size: 12px;
                
             
             }
             
             .c1 {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                
                 border-bottom: none; /* Sin borde por defecto */
             }
             
             
             .c1:hover{
                 cursor: pointer;
                
             }
             
             
             .texto li {
                 all: unset;
             }
             
             /*HEADER*/
             
             .contenedor-background{
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 color: white;
                 margin-top: 0px;
                 font-family: "Montserrat", serif;
                 gap: 120px;
                 
             }
             
             .titulo{
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 margin-top: 150px;
             }
             .titulo h1{
                font-size: 30px;
                text-align: center;
             }
             .titulo p{
                margin-top: 20px;
                font-size: 20px;
                text-align: center;
                max-width: 800px;
             }
             
             .btn{
                all: unset;
                font-family: "Montserrat", serif; 
             }
             
             .btn button{
                 all: unset;
                 color: white;
                 background-color:#355570 ;
                 padding: 10px;
                 width: 200px;
                 font-family: "Montserrat", serif;
                 text-align: center;
                 cursor: pointer;
             }
             
             .btn :hover{
                 transition: 2s;
                 transform: scale(1.1);
                 background-color: #4496dd;
             }
             
             
        /*main*/
        
        .contenedor-principal{
            text-align: center;
            font-family: "Montserrat", serif;
            max-width: 1300px;
            margin: 0 auto;
            margin-top: 120px;
            color: #355570;
        }
        
        .contenedor-principal h1{
            font-size: 36px;
            margin-bottom: 40px;
        }
        
        .contenedor-principal p{
            font-size: 14px;
            max-width: 350px;
            margin: 0 auto;
        }
        
        .presentacion{
            height: 400px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        .cart-img{
            position: relative;
            left: 0%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cart-img img{
            width: 200px;
            height:200px;
        }
        
        .cart-text{
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            width: 180px;
            height: 180px;
            left: -2%;
            gap: 15px;
            z-index: 1;
            
            color: #355570;
            box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        }
        
        .cart-text h1{
            margin-top: 5px;
        font-size: 20px;
            text-align: center;
        }
        
        .cart-text p{
            text-align: center;
            max-width: 150px;
            margin: 0 auto;
            font-size: 10px;
        }
        
        .titular{
            border-bottom: 1px solid #355570;
            max-width: 400px;
            margin: 0 auto;
            padding: 10px;
        }
        
        
        .descripcion{
            display: flex;
        }
        
        .btn-cart{
            display: flex;
            justify-content: center;
        }
        
        .btn-cart button{
            all: unset;
            color: white;
            background-color:#355570 ;
            padding: 5px;
            width: 100px;
            font-family: "Montserrat", serif;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
        }
        
        .btn-cart:hover{
            transition: 2s;
            transform: scale(1.1);
        
        }
        
        .fotos img{
            width: 100px;
            height: 200px;
            margin: 2px;
        }
        
        .fotos{
            display: flex;
            justify-content: center;
            margin-top: 0px;
        }
        
        .fotos img:hover{
            transition: 2s ;
            transform: scale(1.01);
        }
        
        .banner img{
        
            width: 100%;
        }
        
        .banner{
            position: relative;
            margin-top: 50px;
        }
        
        .info{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            top: 20%;    
            position: absolute;
            left: 2%;
            display: flex;
            flex-direction: column;
            color: white;
            font-size: 10px;
            max-width: 350px;
            margin: 0 auto;
            text-align: center;
        
        }
        
        .info img{
            width: 50px;
        }
        
        .presentacion-2{
            height: 400px;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        
        .cart-text-2 {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            width: 180px;
            height: 180px;
            left: 10%;
            top: 20%;
            gap: 15px;
            z-index: 1;
            
            color: #355570;
            box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        }
        
        .cart-img-2{
            position: absolute;
            left: 42%;
            top: 18%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cart-img-2 img{
            width: 200px;
            height:200px;
        }
        
        
        .cart-text-2 h1{
            margin-top: 5px;
        font-size: 20px;
            text-align: center;
        }
        
        .cart-text-2 p{
            text-align: center;
            max-width: 150px;
            margin: 0 auto;
            font-size: 10px;
        }
        
        
        
        /*FOOTER*/
        
        
        
        
        
        
        .imagen-container img{
            width: 100%;
            height: 400px;
        }
        
        .imagen-container{
            margin-top: 100px;
            position: relative; 
            
        }
        
        
        .banner-footer{
            position: relative;
            display: flex;
            margin: 0 auto;
        }
        
        
        
        
        
        
        
        
        .cart-img-3{
            position: absolute;
            left: 10%;
            top: 43%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cart-img-3 img{
            width: 200px;
            height:200px;
        }
        
        .cart-text-3{
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            width: 180px;
            height: 180px;
            top: 45%;
            left: 50%;
            gap: 10px;
            
            color: #355570;
            box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        -moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
        }
        
        .cart-text-3 h1{
            margin-top: 5px;
        font-size: 20px;
            text-align: center;
        }
        
        .cart-text-3 p{
        font-size: 12px;
            max-width: 400px;
        }
        
        .contendor-contacto{
        
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        
        .icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            max-width: 250px;
            text-align: center;
            gap: 5px;
            
        }
        
        .informacion{
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
            gap: 10px;
        }
        
        .icons i{
            text-align: center;
            font-size: 20px;
            margin: 15px;
            align-items: center; margin: 0px;
        }
        
        .icons a{
            font-size: 30px;
        }
        
        .icons p{
            display: flex;
            justify-content: start;
            text-align: start;
        }
        .icon p{
            text-align: start;
        
        
        }
        
        .text{
            display: flex;
            text-align: start;
            align-items: start;
            justify-content: start;
            gap: 10px;
            
        }
           
            }